.auth-container {
  width: 90vw;
  max-width: 1000px;
  min-height: 75vh;
  padding: 60px 50px;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin: 60px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
 
.auth-container img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #7f58ff;
}
 
.auth-container h2 {
  font-size: 3.5rem;
  margin-bottom: 30px;
  color: #7f58ff;
}
 
.auth-container input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.4rem;
}
 
.auth-container button {
  width: 100%;
  padding: 15px;
  background-color: #7f58ff;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}
 
.auth-container button:hover {
  background-color: #7f7f83;
}
 
.google-btn {
  width: 100%;
  padding: 12px 20px;
  background-color: #f8f8f8;
  color: #555;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  margin: 15px auto;
  max-width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
 
.google-btn:hover {
  background-color: #f1f1f1;
}
 
.google-icon {
  width: 20px;
  height: 20px;
}
 
 
.auth-container p a {
  color: #111 !important; /* Força preto em todos os temas */
}
 
.auth-container p {
  color: #111 !important;
}